---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - Members";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Members</h1>
    <p>This is a blank page.</p>
  </div>
</BaseLayout>
