---
export interface Props {
  pdfPath: string
}

const { pdfPath } = Astro.props;
---


<button
  type="button"
  class="flipbook-btn"
  data-pdf={pdfPath}
>
  Read
</button>
<script is:inline src="/scripts/jquery-3.6.0.min.js"></script>
<script is:inline src="/scripts/flipbook.min.js"></script>
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.querySelector(".flipbook-btn");
    if (!btn || typeof $ === "undefined") return;

      const pdfUrl = btn.dataset.pdf;
      if (!pdfUrl) return;

      $(btn).flipBook({
        pdfUrl: pdfUrl,
         btnColor: "#000",
          sideBtnBackground: "transparent",
          sideBtnColor: "#fff",
          lightBox: true,
          viewMode: "3d",
          layout: 3,
          currentPage: {vAlign: "bottom", hAlign: "left"},
      });

  });
</script>